<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="utf-8" />
    <title>Ferran Ramírez</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- Hojas de estilos -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Montserrat+Subrayada&family=MuseoModerno:wght@400&family=Yanone+Kaffeesatz:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!-- Scripts  -->
    <script
      src="https://kit.fontawesome.com/53422fc92c.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="background.js" defer></script>
  </head>
  <body>
    <div id="appContainer">
      <div id="sec1" class="section">
        <section id="neuralfuse-header" class="header">
          <div id="logo">
            <h1>Ferran Ramírez Martí</h1>
          </div>
          <div class="scroll-cta">
            <div>Scroll down</div>
            <img
              src="../../assets/images/scroll-arrow.gif"
              style="width: 30px"
              alt="scroll down"
            />
          </div>
        </section>
      </div>

      <div id="sec2" class="section">
        <section class="project">
          <div class="project-header">
            <h2 class="h2">Our projects</h2>
            <p class="subtitle">Groupal and individual projects by the team</p>
          </div>

          <div class="project-icons">
            <img
              *ngFor="let project of projectList"
              [src]="project.icon"
              class="m-2 p-icon"
              (click)="selectProject(project)"
            />
          </div>

          <div class="project-wrapper">
            <div class="project-content">
              <h3 class="project-title">{{projectSelected.name}}</h3>
              <p class="project-description">{{projectSelected.description}}</p>
              <p class="project-author">by {{projectSelected.author}}</p>
              <div class="project-buttons">
                <a
                  class="btn btn-primary"
                  [attr.href]="projectSelected.urlProject"
                  target="_blank"
                  >See project</a
                >
                <a
                  *ngIf="projectSelected.urlSource"
                  class="btn btn-secondary ml-2"
                  [attr.href]="projectSelected.urlSource"
                  target="_blank"
                  >Go to source</a
                >
              </div>
            </div>

            <a
              class="project-sample"
              [attr.href]="projectSelected.urlProject"
              target="_blank"
            >
              <img class="project-sample-image" [src]="projectSelected.image" />
            </a>
          </div>
        </section>
      </div>
      <div id="sec3" class="section">
        <section class="about">
          <div class="text-center">
            <h2 class="h2 theme-light">About us</h2>
            <p class="subtitle theme-light">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia,
              libero recusandae? Quasi sapiente, eveniet quae quisquam, nisi
              voluptas est excepturi eos harum facilis ab laboriosam cum esse,
              placeat veritatis iusto!
            </p>
          </div>

          <div class="team-members">
            <div class="team">
              <img class="team-portrait" [src]="member.portrait" />
              <div class="team-content">
                <strong class="h4 theme-light">{{member.name}}</strong>
                <div class="body theme-light">{{member.position}}</div>
                <p class="body theme-light">{{member.description}}</p>

                <a
                  *ngFor="let social of member.social"
                  class="team-social"
                  target="_blank"
                  [attr.href]="social.href"
                >
                  <i [class]="social.class + ' team-icon'"></i>
                </a>
              </div>
            </div>
            <div class="team">
              <img class="team-portrait" [src]="member.portrait" />
              <div class="team-content">
                <strong class="h4 theme-light">{{member.name}}</strong>
                <div class="body theme-light">{{member.position}}</div>
                <p class="body theme-light">{{member.description}}</p>

                <a
                  *ngFor="let social of member.social"
                  class="team-social"
                  target="_blank"
                  [attr.href]="social.href"
                >
                  <i [class]="social.class + ' team-icon'"></i>
                </a>
              </div>
            </div>
          </div>
        </section>
        <footer class="container footer">
          <a class="link" href="https://gitlab.com/neural-fuse" target="_blank">
            Made with
            <p class="fa-spin" style="display: inline-block">💖</p>
            and
            <p class="fa-spin" style="display: inline-block">☕</p>
          </a>
        </footer>
      </div>
    </div>
  </body>
</html>
