.team {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.team-portrait {
  height: 156px;
  border-radius: 50%;
  margin-right: 8px;
}

.team-content {
  margin-left: 8px;
}

.team-social {
  font-size: 1.3rem;
  margin: 7px;
}

.team-icon {
  color: #0b2448;
}

.team-icon:hover {
  color: #000;
}
