<div class="team">
  <a href="https://www.linkedin.com/in/ferran-ramirez/" target="_blank">
    <picture>
      <source srcset="/assets/images/ferran.webp" type="image/webp" />
      <img
        class="team-portrait"
        style="box-shadow: 0px 0px 10px -3px #b5afa7"
        loading="lazy"
        src="/assets/images/ferran.jpg"
      />
    </picture>
  </a>
  <div class="team-content">
    <p style="margin-bottom: 8px">
      <strong class="h4" style="color: rgb(17, 17, 17)">{{
        member.name
      }}</strong>
    </p>
    <div class="body" style="color: rgb(17, 17, 17)">{{ member.position }}</div>
    <p class="body" style="color: rgb(17, 17, 17)">{{ member.description }}</p>

    <a
      *ngFor="let social of member.social"
      class="team-social"
      target="_blank"
      [attr.href]="social.href"
    >
      <i
        [class]="social.class + ' team-icon'"
        style="text-shadow: 0px 0px 2px 0px #22243b"
      ></i>
    </a>
  </div>
</div>

<!-- [ngClass]="{'fade-in': !load, 'fade-in-loaded': load}" -->
