<section class="header">
  <!-- 
  <div class="language btn-group btn-group-toggle" data-toggle="buttons">
    <button class="btn btn-dark btn-sm">Es</button>
    <button class="btn btn-dark btn-sm">En</button>
  </div> -->
  <div id="logo">
    <div class="name-section">
      <h1>Ferran Ramírez</h1>
      <div class="h1back">Ferran Ramírez</div>
    </div>
    <div class="name-section">
      <h2>Software Engineer</h2>
      <div class="h2back">Software Engineer</div>
    </div>
  </div>
  <div class="scroll-cta">
    <div>Scroll down</div>
    <img
      src="../../assets/images/scroll-arrow.gif"
      style="width: 30px"
      alt="scroll down"
    />
  </div>
</section>
