.footer {
  height: 5%;
  display: flex;
  justify-content: center;
  color: white;
  bottom: 0px;
  margin-top: 30px;
  padding: 0;
}

.link {
  text-shadow: black 0px 0px 4px;
  text-decoration: none;
  color: white;
}
