<section class="project">
  <div class="project-header">
    <h2 class="h2">My projects</h2>
  </div>

  <div class="project-icons">
    <img
      *ngFor="let project of projectList"
      [src]="project.icon"
      class="m-2 p-icon"
      (click)="selectProject(project)"
    />
  </div>

  <div class="project-wrapper">
    <div class="project-content">
      <h3 class="project-title">{{ projectSelected.name }}</h3>
      <p class="project-description">{{ projectSelected.description }}</p>
      <div class="project-buttons">
        <a
          class="btn"
          style="box-shadow: 0px 0px 7px -3px cornflowerblue"
          [attr.href]="projectSelected.urlProject"
          target="_blank"
          >See project</a
        >
        <a
          *ngIf="projectSelected.urlSource"
          class="btn"
          style="
            background-color: rgb(108, 111, 146);
            box-shadow: 0px 0px 7px -3px rgb(108, 111, 146);
          "
          [attr.href]="projectSelected.urlSource"
          target="_blank"
          >Go to source</a
        >
      </div>
    </div>

    <a
      class="project-sample"
      [attr.href]="projectSelected.urlProject"
      target="_blank"
    >
      <img class="project-sample-image" [src]="projectSelected.image" />
    </a>
  </div>
</section>
