<section class="about">
  <div class="text-center">
    <h2 class="h2">About me</h2>
    <p class="subtitle" style="color: rgb(17, 17, 17)">
      Engineer with 2 years of experience as a Full Stack developer.
    </p>
    <p class="subtitle" style="color: rgb(17, 17, 17)">
      I haveexperience in Angular, RxJS, Firebase, Ionic, Capacitor and agile
      CSS withTailwind ✅
    </p>
    <p class="subtitle" style="color: rgb(17, 17, 17)">
      Applying the best practices and up to date with other technologies that
      make up Full Stack development, how they correlate with each other and
      their importance and power in the industry 🔎
    </p>
    <p class="subtitle" style="color: rgb(17, 17, 17)">
      Veryinterested in React, NextJS 13, tRPC, Redux, etc. ❤️
    </p>
  </div>

  <div class="team-members">
    <app-team-member
      *ngFor="let member of team; let indice = index"
      [member]="member"
      [index]="indice"
    ></app-team-member>
  </div>
</section>
